/* ====$$$$$=============

   --//--  Table of Contents  --//--

        1. Global Styles
        2. Typography
        3. Layout
                3.1. header
        4. Main
                4.1 






   =============$$$$$==== */


/* =================
   1. Global Styles
   ================= */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    padding:  0 1em;
    background: var(--base_color_60);
    color: var(--primary_color_30);
    height: 100vh;
    background: url("./img/bg.jpg") no-repeat center center fixed;
}

:root {
    --base_color_60: #f6f7eb;
    --primary_color_30: #393e41;
    --secondary_color_10: #e94f37;

    --normal_line_height: 1.5;
    --large_line_height: 2;

    --normal_letter_spacing: 1px;
    --large_letter_spacing: 2px;
    
    --normal_transition_time: 300ms;
}

/* =================
   2. Typography
   ================= */

* a,
* img,
* i {
    display: block;
    color: var(--base_color_60);
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100px;
}

/* =================
   3. Layout
   ================= */

/* 3.1 header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.logo {
    border-radius: 50%;
}

.fa-bars {
    cursor: pointer;
    transition: var(--normal_transition_time);
}

.fa-bars:hover {
    color: var(--secondary_color_10);
}

nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 60%;
    max-width: 300px;
    background: var(--primary_color_30);
}

.fa-times {
    padding: .5em;
    color: var(--secondary_color_10);
    cursor: pointer;
    margin-bottom: 0;
    transition: var(--normal_transition_time);
}

.fa-times:hover {
    color: var(--base_color_60);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li a {
    padding: 1em 2em;
    margin-bottom: 1em;
    width: 100%;
    text-decoration: none;
    color: var(--base_color_60);
    font-size: 1.5rem;
    transition: all var(--normal_transition_time);
}

nav ul li a:hover,
nav ul li a:focus {
    background: var(--base_color_60);
    color: var(--secondary_color_10);
    font-weight: bold;
}

/* =================
   4. Main
   ================= */

.container {

}

.company_detail {
    margin-top: 1em;
    padding: 1em;
    background: rgba(0,0,0,.4);
    color: var(--base_color_60);
}

.web_site_title {
    font-size: 3em;
    letter-spacing: var(--large_letter_spacing);
    line-height: var(--large_line_height);
    margin: 1.5em 0;
    text-transform: uppercase;
    text-align: center;
}

.company_intro {
    font-size: 2em;
    letter-spacing: var(--normal_letter_spacing);
    line-height: var(--normal_line_height);
    text-align: center;
    margin: .5em 0 1.5em;

}

/* cart  */

.cart {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    max-width: 550px;
    background: var(--primary_color_30);
    color: var(--base_color_60);
    padding: .2em;
}

.cart_heading {
    font-size: 1.5em;
    text-align: center;
    margin-top: 0;
}

.cart_about_deals {
    cursor: pointer;
    color: var(--secondary_color_10);
    transition: var(--normal_transition_time);
}

.cart_about_deals:hover {
    color: var(--base_color_60);
    text-decoration: underline;
}

.cart_title,
.cart_item {
    display: grid;
    grid-template-columns: .7fr 2fr .5fr 1fr 1fr;
    gap: 0;
}

.cart_total {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.cart_title > *,
.cart_total > * {
    background: var(--base_color_60);
    color: var(--secondary_color_10);
    font-weight: bold;
    font-size: 1.1em;
}

.cart_title > *,
.cart_total > * ,
.cart_item > * {
    padding: .5em 0 .5em .6em;
}















.menu_pic {
    width: 100%;
    max-width: 200px;
}